.profile-background img{
    position: absolute;
    z-index: -1;
}

.profile-picture {

    border-radius: 100%;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.profile-picture img {
    height: 250px;
    width: 200px;
}

.profile-picture-content {
    display: flex;
    justify-content: center;
    padding: 200px 0 0 0;

}

.profile-content {
    border: 1px black solid;
}

.col {
    padding: 0;
}

.card-panel {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 1px;
}

.card-panel li {
    margin: 13px;
}

.profile-links {
    font-size: 20px;
}


.collection {
    border: none;
    margin-top: 0;
}

.collection-item {
    background-color: rgb(61, 61, 61);
    color: white;
}